
body{
    background-color:#556;
    background-image: linear-gradient(30deg, rgb(35, 35, 182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(150deg, rgb(35,35,182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(30deg, rgb(35,35,182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(150deg, rgb(35,35,182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#collector{
    background-color: rgb(250, 125,0);
    color: white;
    width: 300px;
    height: 60px;
    font-weight: bold;
    font-size: 22px;
}

#instructions{
    background-color: rgb(245,245,220);
    color: green;
    width: 300px;
    height: 345px;
    font-weight: bold;
}