
body{
    background-color:#556;
    background-image: linear-gradient(30deg, rgb(35, 35, 182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(150deg, rgb(35,35,182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(30deg, rgb(35,35,182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(150deg, rgb(35,35,182) 12%, transparent 12.5%, transparent 87%, rgb(35,35,182) 87.5%, rgb(35,35,182)),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#collector{
    background-color: rgb(250, 125,0);
    color: white;
    width: 300px;
    height: 60px;
    font-weight: bold;
    font-size: 22px;
}

#instructions{
    background-color: rgb(245,245,220);
    color: green;
    width: 400px;
    height: 300px;
    font-weight: bold;
}

#randomPC{
    background-color: rgb(0,200,90);
    color: black;
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 22px;
}

#winslosses{
    background-color: rgb(80,234,250);
    color: black;
    width: 175px;
    height: 100px;
    font-weight: bold;
}

#ruby{
    width: 50px;
    height: 50px;
    /* background-image: url(assets/images/ruby.jpg); */
}

#diamond{
    width: 50px;
    height: 50px;
    /* background-image: url(assets/images/diamond.jpg); */
}

#yellow_sapphire{
    width: 50px;
    height: 50px;
    /* background-image: url(assets/images/yellow_sapphire.jpg); */
}

#emerald{
    width: 50px;
    height: 50px;
    /* background-image: url(assets/images/emerald.jpg); */
}

img{
    width: 100px;
    height: 100px;
}

#message{
    background-color: rgb(20,140,135);
    color:  white;
    width:  275px;
    height: 50px;
}

#userscore{
    background-color: rgb(20,140,135);
    color: white;
    width: 275px;
    height:  50px;
}